*{
    margin: 0;
    padding: 0;
}

body{
    width: 1280px;
}
    
#menu {
	background-image: url("back_info_2.png");	
	background-repeat: no-repeat;
	padding-bottom: 5px;
	padding-left: 600px; 
    max-width: 100%;
    width: 270px;
    margin: 0 auto;
}
#menu p a:link{
	font-weight: bold;
	color: blue;
	background-color:rgb(245, 222, 226);
	padding:5px ;
	text-decoration:none ;
}
#menu p a:visited{
	font-weight: bold;
	color: black;
	background-image: url("back_info.png");
	padding:5px ;
	text-decoration:none;
}
#menu p a:hover{
	font-weight: bold;
	color: black;
	background-color:#f130a1;
	padding:5px ;
	text-decoration:none ;
}

.info {
    background-repeat: no-repeat;
    padding-right: 560px;
    max-width: 100%;
    padding-left: 40px;
    width: 1280px;
    background-image: url("back_info_2.png");
    margin: 0 auto;
    height: 700px;
}
.info p {
    display: block;
}
.info img{
    margin-left: 500px;
}

.marca{
    background-repeat: no-repeat;
    padding-right: 560px;
    max-width: 100%;
    padding-left: 40px;
    width: 270px;
    background-color: rgb(241, 129, 148);
    margin: 0 auto;
    place-items: center;
    padding-bottom: 25px;
}

.marca_sub {
    padding-left:320px;
    font-size:30px;
    font-style: bold;
    display: block;
    text-align: right;
}

.marcacao{
    background: white;
    width: 400px;
    height: 150px;
    margin-left: 200px;
}
.servicos{
    width: 870px;
    background-color: rgb(209, 11, 48);
    margin: 0 auto;
}

/*.servesq {
    background: white;
    display: inline-block;
    color: black;
    max-width: 70%;
    width: 200px;
    margin: 0 auto;
}
*/
.servicos h2{
    text-align: center;
    padding-top: 50px;
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
}

.servesq{
    display: inline-block;
    width: 45%;
    background-color: white;
    height: 150px;
    margin-left: 25px;
    margin-bottom: 40px;
}

.servdir{
    display: inline-block;
    width: 45%;
    background-color: white;
    height: 150px;
    margin-left: 30px;
}

.frame {
    background-repeat: no-repeat;
    padding-right: 560px;
    max-width: 100%;
    padding-left: 40px;
    width: 270px;
    background-color: rgb(133, 117, 120);
    margin: 0 auto;
}

.frame h3{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

.sub_frame {
    font-size: 18px;
    padding-bottom: 10px;
}
.sub_frame2 {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.form{
    display: inline-block;
    width: 40%;
}

.contato{
    display: inline-block;
    margin-left: 470px;
    width: 100%;
    font-size: 20px;
}
