@import url(https://db.onlinewebfonts.com/c/5da49843f66caf14799662bd12aa55a2?family=Dream+Avenue);

*{
    margin: 0;
    padding: 0;
}

body{
    width: 1280px;
}
    
#menu {
	background-repeat: no-repeat;
	padding-bottom: 5px;
	padding-left: 550px; 
    max-width: 100%;
    width: 270px;
    margin: 0 auto;
}
#menu p a:link{
    font-size: 10px;
	color: blue;
	padding:5px ;
	text-decoration:none ;
    font-family: "Poppins";
    margin-left: 15px;
}
#menu p a:visited{
	font-weight: bold;
	color: black;
	background-image: url("back_info.png");
	padding:5px ;
	text-decoration:none;
}
#menu p a:hover{
	font-weight: bold;
	color: white;
	background-color:#60554A;
	padding:5px ;
	text-decoration:none ;
}

.info {
    background-repeat: no-repeat;
    padding-right: 560px;
    max-width: 100%;
    padding-left: 40px;
    width: 270px;
    background-image:linear-gradient(
        45deg,
        #D4C2AA 0.5%,
        white,
        #D4C2AA
    );
    margin: 0 auto;
    height: 300px;
}
.info h3 {
    font-family: "Dream Avenue";
}
.info p {
    font-family: "Poppins";
}
.info img{
    margin-left: 500px;
}

.marca{
    background-repeat: no-repeat;
    padding-right: 560px;
    max-width: 100%;
    padding-left: 40px;
    width: 270px;
    background: #D4C2AA;
    margin: 0 auto;
    place-items: center;
    padding-bottom: 25px;
}

.marca_sub {
    padding-left:320px;
    font-size:30px;
    font-style: bold;
    display: block;
    text-align: right;
    font-family: "Dream Avenue";
}

.marcacao{
    background: white;
    width: 400px;
    height: 150px;
    margin-left: 200px;
    font-family: "Poppins";
}
.servicos{
    width: 870px;
    background-color: #60554A;
    margin: 0 auto;
    font-family: "Dream Avenue";
    height: 700px;
}

/*.servesq {
    background: white;
    display: inline-block;
    color: black;
    max-width: 70%;
    width: 200px;
    margin: 0 auto;
}
*/
.servicos h2{
    text-align: center;
    padding-top: 50px;
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
}

.servesq{
    display: inline-block;
    width: 45%;
    background-color: white;
    margin-left: 25px;
    margin-bottom: 40px;
    font-family: "Poppins";
    height: 300px;
    text-align: center;
}

.servesq h3{
    padding: 20px;
}

.servdir{
    display: inline-block;
    width: 45%;
    background-color: rgb(251, 251, 251);
    height: 300px;
    margin-left: 30px;
    font-family: "Poppins";
    text-align: center;
}
.servdir h3{
    padding: 20px;
}


.frame {
    background-repeat: no-repeat;
    padding-right: 560px;
    max-width: 100%;
    padding-left: 40px;
    width: 270px;
    background-color: nude;
    margin: 0 auto;
}

.frame h3{
    font-size: 20px;
    font-family: "Dream Avenue";
    padding-top: 20px;
}

.sub_frame {
    font-size: 18px;
    padding-bottom: 10px;
    font-family: "Poppins";
}
.sub_frame2 {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: "Dream Avenue";
}

.form{
    display: inline-block;
    width: 40%;
}

.contato{
    display: inline-block;
    margin-left: 470px;
    width: 100%;
    font-size: 20px;
    font-family: "Dream Avenue";
}
